* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(200, 200, 200);
}

#centralPage {
    min-width: 300px;
    max-width: 1280px;
    margin: auto;
    height: 100%;
    border: 1px solid rgb(245, 245, 245);
}

header {
    display: flex;
    align-items: center;
    height: 10%;
    background-color: rgb(245, 245, 245);
}

header > button {
    font-size: 2.5em;
    border: 0;
    background-color: transparent;
    width: 10%;
    height: 100%;
}

header > label {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: 450;
}

main {
    height: 90%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.profileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#charImg {
    margin-top: 10px;
    max-width: 70%;
    height: auto;
}

#charProfile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    align-items: center;
}

.profileItem {
    font-size: 2vh;
    padding: 10px;
    min-width: 30%;
    width: 100%;
    height: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
}

.profileItem > label {
    font-weight: bold;
}

#charRarity {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.descriptionContainer {
    margin: auto;
    margin-top: 1vh;
    text-align: center;
    font-size: 2vh;
}

.descriptionContainer > label:nth-child(1) {
    margin-bottom: 1vh;
    font-size: 3vh;
    font-weight: bold;
}

.descriptionContainer > div {
    display: flex;
}
.descriptionContainer > div > label {
    padding-left: 5px;
    font-weight: bold;
}

.descriptionContainer > p {
    font-size: 2vh;
}