* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}

html,
body {
    width: 100%;
    height: 100%;
}

button {
    border: 0;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

#searchCharField {
    width: 30%;
    border-radius: 10px;
    border: 1px solid rgb(200, 200, 200);
    text-align: center;
    background-color: transparent;
    font-size: 1.25em;
}

#submitButton {
    width: 30%;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    padding: 5px;
    cursor: pointer;
}

#submitButton > i {
    font-size: 1.5em;
}

main {
    height: 90%;
}

#chararactersContainer {
    width: 100%;
    height: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#chararactersContainer > label {
    text-align: center;
    font-size: 1.5em;
    font-weight: 450;
}

.containerItem {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
    list-style: none;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerItem > label {
    font-size: 1.5em;
    text-align: center;
}

.containerItem > label:nth-child(3) {
    cursor: pointer;
}

.containerItem > i {
    font-size: 3em;
}

.containerItem > img {
    width: auto;
    height: 100%;
}

.containerItem > button {
    text-align: end;
    width: 10%;
    height: 100%;
    font-size: 2em;
    background-color: transparent;
    cursor: move;
}